OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini

TAVILY_API_KEY=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_TRACING_ENVIRONMENT=development

# Sólo para alinear permisos de bind mounts con Docker Compose en Linux.
LOCAL_UID=1000
LOCAL_GID=1000
